<div class="card">
  <div class="card-body">
    <form>
      <div class="col-md-6 col-md-offset-3">
        <!-- INÍCIO BLOCO: Nome do Funcionário -->
        <div class="form-group">
          <label>Nome</label>
          <input type="text" class="form-control">
        </div>
        <!-- FIM BLOCO: Nome do Funcionário -->

        <!-- INÍCIO BLOCO: Cargo/Profissão -->
        <div class="form-group">
          <label>Cargo</label>
          <input type="text" class="form-control">
        </div>
        <!-- FIM BLOCO: Cargo/Profissão -->

        <!-- INÍCIO BLOCO: Nome do Número Identificador -->
        <div class="form-group">
          <label>Número Identificador</label>
          <input type="text" class="form-control">
        </div>
        <!-- FIM BLOCO: Número Identificador -->

        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <fa name="plus"></fa> Funcionário
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
